.gamesContainer {
  height: 100%;
  width: 100%;

  flex-grow: 1;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  margin: var(--outlet-margin);
  margin-bottom: 1.5rem;
}

.headerContent > h1 {
  font-size: var(--fs-giant);
}
.displayIconContainer {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.displayIconContainer > p {
  font-size: var(--fs-small);
}
.displayIcon {
  height: 25px;
  width: auto;
  filter: invert(0.8);
  cursor: pointer;
}

.displayIcon:hover {
  transform: scale(1.1);
}
.gameCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.gameCard {
  display: flex;
  flex-direction: column;
  background-color: var(--gamecard-color);
  height: auto;
  width: 325px;
  border-radius: 10px;
  margin: var(--outlet-margin);
  box-shadow: 3px 3px 5px var(--boxshadow-gamecard);
  will-change: transform;
}

.gameCard:hover {
  transform: translateY(-15px);
  transition: transform 0.1s ease-out;
  box-shadow: 4px 4px 8px var(--boxshadow-gamecard);
}

.gameImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gameDetailsContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: var(--outlet-gap);
}
.consoleIconContainer {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.consoleIcon {
  height: 20px;
  width: auto;
  filter: invert(0.8);
}
.gameTitle {
  font-size: var(--fs-large);
}

.cartBtnContainer {
  display: flex;
  gap: 10px;
}

.cardBtn {
  border-radius: 5px;
  padding: 6px;
  font-weight: 500;
  background: var(--cardBtn-bg-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: var(--fs-small);
  letter-spacing: 1px;
}

.cardBtn:hover {
  background: linear-gradient(
    180deg,
    var(--cardBtn-btn-color-1) 26%,
    var(--cardBtn-btn-color-2) 100%
  );
  transform: scale(1.1);
}
.cardInfoContainer {
  display: flex;
  flex-direction: column;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfoContainer > hr {
  width: 100%;
  margin-top: -10px;
}

.cardInfoText {
  font-size: var(--fs-smal);
  margin-bottom: 10px;
}

@media (max-width: 1068px) {
  .gameCards {
    justify-content: center;
  }
  .gameCard {
    width: 500px;
  }
}
