.gamesContainer {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  flex-grow: 1;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  margin: var(--outlet-margin);
}
.displayIconContainer {
  display: flex;
  align-items: center;
}
.displayIcon {
  height: 25px;
  width: auto;
}
.gameCards {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.gameCard {
  display: flex;
  flex-direction: column;
  background-color: var(--gamecard-color);
  border: 1px solid red;
  height: auto;
  width: 375px;
  border-radius: 10px;
  margin: var(--outlet-margin);
}
.gameImg {
}

.gameDetailsContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: var(--outlet-gap);
}
.consoleIconContainer {
  display: flex;
  margin-top: 10px;
}
.consoleIcon {
  height: 25px;
  width: auto;
}
.gameTitle {
  font-size: 2.5rem;
}

.cartBtnContainer {
  display: flex;
  gap: 10px;
}

.cardBtn {
  border-radius: 5px;
  padding: 6px;
  font-weight: 500;
  background: var(--cardBtn-bg-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.cardBtn:hover {
  background: linear-gradient(
    180deg,
    var(--cardBtn-btn-color-1) 26%,
    var(--cardBtn-btn-color-2) 100%
  );
  transform: scale(1.1);
}
.cardInfoContainer {
  display: flex;
  flex-direction: column;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfoContainer > hr {
  width: 100%;
  margin-top: -10px;
}

.cardInfoText {
  font-size: 1em;
  margin-bottom: 10px;
}
