.navBar {
}

.navDiv {
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 10rem;
  align-items: center;
}

.navItem {
  align-items: center;
}

.mainLink {
  display: flex;
}

.iconImage {
  height: 5rem;
  width: auto;
  margin-right: 10px;
}

.titleLogo {
  color: var(--logo-color);
  font-size: 3rem;
  font-weight: bold;
  margin-left: 0.5rem;
  align-content: center;
  text-wrap: nowrap;
}

.searchContainer {
  flex-shrink: 3;
}

.headerInput {
  width: 50vw;
  max-width: 800px;
  border-radius: 1rem;
  outline: none;
  padding: 10px 10px 10px 46px;
  background-color: var(--hover-color);
  border: none;
  background-image: url(../assets/searchIcon.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 5px center;
  color: whitesmoke;
  font-size: 1.5rem;
}

.isActive {
  background-color: var(--isActive-color);
  color: white;
  border-radius: 0.375rem;
}

.isActive:hover {
  background-color: var(--hover-background-color);
  color: white;
}

.isNotActive {
  color: white;
  border-radius: 0.375rem;
}

.isNotActive:hover {
  background-color: var(--hover-background-color);
  color: white;
}

.toggleCartButton {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border: none;
  color: inherit;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  gap: 1em;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  font-size: 35px;
  margin-left: -8px;
  color: black;
}

.isActive,
.isNotActive {
  padding: 10px;
  font-size: 1.5rem;
}

hr {
  width: 60%;
  margin-bottom: 15px;
  border-color: var(--accent-color-1);
}

@media (max-width: 768px) {
  .navDiv {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
  }

  .headerInput {
    width: 100%;
    max-width: none;
  }
}
