.sidebarContainer {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 20rem;
  flex-shrink: 0;
  flex-basis: auto;
  height: calc(100% - 10rem);
  overflow-y: auto; /* enables scrolling */
  padding: 2rem;
  border-radius: 1rem;
}

.sidebarNav {
  margin-bottom: 1rem;
}

.sortingItems {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.sectionHeader {
  font-size: 2rem;
}

.sectionSubHeader {
  font-size: 1.8rem;
}

.listItemContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.listItemContainer:hover .linkIcon {
  background-color: rgba(175, 175, 175, 0.592);
  transition: background-color 0.2s ease;
}

.sidebarListItem {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 4px;
}
.sidebarListItem:hover {
  color: var(--hover-text-color);
}

.linkIcon {
  height: 25px;
  width: auto;
  border-radius: 3px;
  z-index: 1;
}
.linkIcon:hover {
  background-color: rgba(175, 175, 175, 0.592);
}

.sidebarContainer {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .sidebarContainer {
    display: none;
  }
}
