.sidebarContainer {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 15rem;
  flex-shrink: 0;
  flex-basis: auto;
  height: calc(100% - 10rem);
  overflow-y: auto; /* enables scrolling */
  padding: 1rem;
  border-radius: 1rem;
}

.sidebarNav {
  margin-bottom: 1rem;
}

.sortingItems {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sectionHeader {
  font-size: var(--fs-large);
  will-change: transform;
}

.sidebarNav > .sectionHeader:hover {
  transform: translateX(5px);
  pointer-events: auto;
}

.sectionSubHeader {
  font-size: var(--fs-medium);
}

.listItemContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 1rem;
  padding: 0 5px;
}

.listItemContainer:hover {
  background-color: var(--list-item-hover-color);
}

.sidebarListItem {
  font-size: var(--fs-medium);
  border-radius: 1rem;
  padding: 4px;
}
.sidebarListItem:hover {
  color: var(--hover-text-color);
}

.linkIcon {
  height: 25px;
  width: auto;
  border-radius: 3px;
  z-index: 1;
}
/* .linkIcon:hover {
  background-color: rgba(175, 175, 175, 0.592);
} */

.sidebarContainer {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .sidebarContainer {
    display: none;
  }
}
