.sidebarContainer {
  position: fixed; /* Changed from sticky to fixed */
  top: 5rem;
  left: 0; /* Adjust as needed to place the sidebar correctly */
  border: solid red 1px;
  width: 15rem;
  flex-shrink: 0; /* Ensure it doesn't shrink */
  flex-basis: auto; /* Ensure it uses the specified width */
  height: 100vh; /* Ensure it takes full height of the viewport */
  overflow-y: auto; /* Enable scrolling if needed */
  padding: 2rem;
}

.sectionHeader {
  font-size: 2rem;
}

.sidebarListItem {
  font-size: 1.5rem;
}

.sidebarItem {
}

@media (max-width: 768px) {
  .sidebarContainer {
    display: none;
  }
}
