.sidebarCartContainer {
  position: fixed;
  right: 0;
  height: 100%;
  padding: 1rem;
  width: 20vw;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 200;
  background-color: var(--cart-bg-color);
  color: black;
  font-size: var(--fs-small);
  color: var(--text-color);
}

.open {
  transform: translateX(-1%);
}

.closed {
  transform: translateX(100%);
}

.cartHeader {
  text-align: center;
  margin-bottom: 15px;
}
.subtotalContainer {
  display: flex;
  flex-direction: column;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 85%;
  overflow-y: auto;
}
.listItemContainer {
  display: flex;
  justify-content: space-between;
  padding: 3px;

  border-bottom: 2px solid var(--accent-color-1);
  margin-bottom: 10px;
}

.listItemContainer:hover {
  background-color: var(--list-item-hover-color);
  border-radius: 0.5rem;
}

.listItem {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  width: 75%;
  height: auto;
}

.cartItemContainer {
  display: flex;
  gap: 10px;
}

.cartItemContainer > li {
  display: flex;
  align-items: center;
}

.cartGameImg {
  height: 50px;
  width: auto;
}
.cartItemBtnContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
}

.cartIcon {
  height: 20px;
  width: auto;
  padding: 0;
  filter: invert(1);
  border: none;
  background-color: none;
  cursor: pointer;
}

.wishlistBtn {
  background-color: var(--gradient-color-3);
  border: none;
  cursor: pointer;
}
.wishlistBtn:hover {
  filter: brightness(150%);
}

.deleteBtn {
  border: none;
  cursor: pointer;

  background-color: rgb(219, 28, 2);
}
.deleteBtn:hover {
  background-color: rgb(230, 87, 87);
}
.transactionContainer {
  display: flex;
}
.priceSide {
  display: flex;
  align-items: center;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 8px;
}

.checkoutBtn,
.ctnShoppingBtn {
  border-radius: 1rem;
  border: none;
  font-size: var(--fs-small);
  cursor: pointer;
  padding: 3px;
  font-family: roboto, sans-serif;
  color: whitesmoke;
}

.checkoutBtn {
  background-color: var(--gradient-color-3);
}

.ctnShoppingBtn {
  background-color: rgb(47, 45, 45);
}

.ctnShoppingBtn:hover {
  filter: brightness(130%);
}

.checkoutBtn:hover {
  filter: brightness(150%);
}
