@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --hover-color: #111827;
  --isActive-color: black;
  --sidebar-background-color: rgba(0, 0, 0, 0.523);
  --hover-background-color: #eb8d12f7;
  --text-color: whitesmoke;
  --hover-text-color: rgba(255, 255, 255, 0.712);
  --logo-color: whitesmoke;
  --gradient-color-1: rgba(0, 0, 0, 1);
  --gradient-color-2: #390b5c;
  --gradient-color-3: #3c7410;
  --gradient-color-4: #020024;
  --accent-color-1: #eb8d12f7;
  --gamecard-color: #c8c39a41;
  --cardBtn-bg-color: black;
  --cardBtn-btn-color-1: rgba(0, 0, 0, 1);
  --cardBtn-btn-color-2: rgba(85, 54, 8, 1);
  --outlet-margin: 0.5rem;
  --outlet-gap: 0.5rem;
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-sidebar: 2rem;
  --fs-large: 2.5rem;
  --fs-giant: 4rem;
  --boxshadow-gamecard: #eb8d12c0;
  --cart-bg-color: rgb(37, 34, 34);
  --list-item-hover-color: #c8c39a41;
}
html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto, sans-serif, Arial, Geneva, Verdana;
  background: linear-gradient(
    0deg,
    var(--gradient-color-1) 50%,
    var(--gradient-color-2) 100%
  );
  background-attachment: fixed;
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
}
button {
  font-family: Roboto, sans-serif, Arial, Geneva, Verdana;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* List style */
ul,
ol {
  list-style: none;
}

/* Text decoration */
a {
  text-decoration: none;
}
/* Default link styles */
a {
  color: inherit;
}
/* For Firefox */
* {
  scrollbar-color: rgba(39, 36, 36, 0.291) rgba(0, 0, 0, 0.5);
}

/* For WebKit (Chrome, Safari) */
*::-webkit-scrollbar {
  background-color: rgba(39, 36, 36, 0.291);
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.279);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Scrollbar buttons (if visible) */
*::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons if they are visible */
}

/* Adjust scrollbar arrows (up and down buttons) */
*::-webkit-scrollbar-button:single-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Adjust scrollbar corner (between vertical and horizontal scrollbar) */
*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.5);
}
